Datasets/mnist_train.csv
Datasets/mnist_test.csv




5_CNN/checkpoint/
6_RNN/checkpoint/
7_GAN/checkpoint/

6_RNN/.data/
8_Transformer/ChatBotData.csv
9_BERT/checkpoint/
10_Decision_Tree/CommonLit_data/
11_Random_Forest/CommonLit_data/

Study/Hugging_Face_Transformers/saving_folder
Study/Hugging_Face_Transformers/saving_folder2
Study/Hugging_Face_Transformers/test-trainer